/*注册*/
.content-wrap{background: #fff;margin-top: 30px; }
.reg-top{width: 1020px;margin: 0 auto; padding: 50px 0 18px;border-bottom: 1px solid #ececec;}
.reg-con{width: 1020px;margin: 60px auto;}
.reg-con form{width: 640px;}
.reg-con .form-group{margin-top: 20px;}
.reg-con .form-group label{display: inline-block;margin-right: 22px; width: 106px;text-align: right;}
.reg-con .form-group input{width: 288px;text-indent: 15px;height: 18px;line-height: 18px;color: #333;border-radius: 2px; height: 40px;border: 1px solid #e2e2e2;}
.reg-con .form-group .btn{ width: 288px;height: 40px;line-height: 40px;border-radius: 2px;  background: #EA544A;display: inline-block;border: 0px;cursor: pointer;text-align: center;color: #FFF;font-size: 18px;}
.reg-con .form-group .btn:hover{background: #f37870;}
.reg-con .form-fot a{color: #007AFF;} 
.reg-con .form-fot{margin: 40px; width: 400px;}   
.reg-con .getcode{position: absolute;top: 10px;left: 333px; color: #b3b2b2;cursor: pointer;}
 
 /*登录*/
.login-con{width: 100%;height: 500px;min-width: 1200px;}    
.loginbox {width: 330px;position: absolute;right: 20px;top: 80px;background: #fff;padding-bottom: 30px;padding-left: 30px;}
.loginbox h5{margin-left: -30px; text-align: center; height: 55px;line-height: 55px;color: #848484;border-bottom: 1px solid #e6e6e6;background: #fafafa;} 
.loginbox h5 img{position: relative;right: 25px;top: 4px;}
.loginbox input{width: 288px;height: 42px;margin-top: 20px;text-indent: 6px;border: 1px solid #e6e6e6;}
.loginbox .oldlogin {display: block;text-align: center;margin-top: 25px;margin-left: -30px; color: #f00;}  
.login-con .btn{margin-top: 20px; width: 288px;height: 40px;line-height: 40px;border-radius: 2px;  background: #EA544A;display: inline-block;border: 0px;cursor: pointer;text-align: center;color: #FFF;font-size: 18px;}
.login-con .btn:hover{background: #f37870;}
.login-con .login-tips{margin-left: -30px;margin-top: 20px;text-align: center;}

/*找回密码*/
.findpwd-top{width: 1020px;margin: 0 auto; padding: 50px 0 18px;border-bottom: 1px solid #ececec;}
.findpwd-con{width: 1020px;margin: 60px auto;}
.findpwd-con form{width: 640px;}
.findpwd-con .form-group{margin-top: 20px;}
.findpwd-con .form-group label{display: inline-block;margin-right: 22px; width: 106px;text-align: right;}
.findpwd-con .form-group input{width: 288px;text-indent: 15px;height: 18px;line-height: 18px;color: #333;border-radius: 2px; height: 40px;border: 1px solid #e2e2e2;}
.findpwd-con .form-group .btn{ width: 288px;height: 40px;line-height: 40px;border-radius: 2px;  background: #EA544A;display: inline-block;border: 0px;cursor: pointer;text-align: center;color: #FFF;font-size: 18px;}
.findpwd-con .form-group .btn:hover{background: #f37870;}
.findpwd-con .form-fot a{color: #007AFF;} 
.findpwd-con .form-fot{margin: 40px; width: 400px;}   
.findpwd-con .getcode{position: absolute;top: 10px;left: 333px; color: #b3b2b2;cursor: pointer;}
    
    
    
    
     
    
    
    
    
    
    
    
